In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# 1.1

In [2]:
q1 = pd.read_csv('d-3stocks9908.txt', sep='\s+')

In [3]:
q1

          date       axp       cat      sbux
0     19990104 -0.009756  0.029891 -0.040089
1     19990105 -0.019089 -0.002639 -0.034803
2     19990106  0.043063  0.026455 -0.008413
3     19990107  0.012063  0.009021  0.003636
4     19990108  0.030393  0.042146  0.021739
...        ...       ...       ...       ...
2510  20081224  0.000557  0.018964  0.016322
2511  20081226 -0.003339  0.019327  0.001071
2512  20081229 -0.011725 -0.008895 -0.034225
2513  20081230  0.016949  0.031176  0.036545
2514  20081231  0.030556  0.023133  0.010684

[2515 rows x 4 columns]

## 1.1(a)

In [4]:
r = q1[['axp','cat','sbux']].copy(deep=True)
r = r.fillna(0)

In [5]:
f1 = lambda x:'%.4f%%' % (x*100)
name = r.columns
for i in range(4):
    r.loc[:i] = r.loc[:i].round(6)
    r.loc[:i] = r.loc[:i].astype('float64')

r['sbux'] = r['axp'].apply(f1)

In [6]:
r['cat'] = r['cat'].apply(f1)

In [7]:
r['axp'] = r['axp'].apply(f1)

In [8]:
r

           axp       cat      sbux
0     -0.9756%   2.9891%  -0.9756%
1     -1.9089%  -0.2639%  -1.9089%
2      4.3063%   2.6455%   4.3063%
3      1.2063%   0.9021%   1.2063%
4      3.0393%   4.2146%   3.0393%
...        ...       ...       ...
2510   0.0557%   1.8964%   0.0557%
2511  -0.3339%   1.9327%  -0.3339%
2512  -1.1725%  -0.8895%  -1.1725%
2513   1.6949%   3.1176%   1.6949%
2514   3.0556%   2.3133%   3.0556%

[2515 rows x 3 columns]

In [9]:
r1 = q1[['axp','cat','sbux']]
r1 = r1.fillna(0)
r1 = r1*100

In [10]:
axp = {'样本均值':r1['axp'].mean(), '样本标准差':r1['axp'].std(), '样本偏度':r1['axp'].skew(), '样本峰度':r1['axp'].kurt(), '最小值':r1['axp'].min(), '最大值':r1['axp'].max()}
axp

{'样本均值': 0.014565367793240485,
 '样本标准差': 2.446218404751395,
 '样本偏度': -0.03464744461753835,
 '样本峰度': 6.06969588903689,
 '最小值': -17.5949,
 '最大值': 17.9266}

In [11]:
# cat = {'样本均值':str(r1['cat'].mean())+'%', '样本标准差':str(r1['cat'].std())+'%', '样本偏度':str(r1['cat'].skew())+'%', '样本峰度':str(r1['cat'].kurt())+'%', '最小值':str(r1['cat'].min())+'%', '最大值':str(r1['cat'].max())+'%'}
# cat
cat = {'样本均值':r1['cat'].mean(), '样本标准差':r1['cat'].std(), '样本偏度':r1['cat'].skew(), '样本峰度':r1['cat'].kurt(), '最小值':r1['cat'].min(), '最大值':r1['cat'].max()}
cat

{'样本均值': 0.05950365805168995,
 '样本标准差': 2.169648205490294,
 '样本偏度': 0.01168487817778421,
 '样本峰度': 4.470462340871746,
 '最小值': -14.5175,
 '最大值': 14.7229}

In [12]:
# sbux = {'样本均值':str(r1['sbux'].mean())+'%', '样本标准差':str(r1['sbux'].std())+'%', '样本偏度':str(r1['sbux'].skew())+'%', '样本峰度':str(r1['sbux'].kurt())+'%', '最小值':str(r1['sbux'].min())+'%', '最大值':str(r1['sbux'].max())+'%'}
# sbux
sbux = {'样本均值':r1['sbux'].mean(), '样本标准差':r1['sbux'].std(), '样本偏度':r1['sbux'].skew(), '样本峰度':r1['sbux'].kurt(), '最小值':r1['sbux'].min(), '最大值':r1['sbux'].max()}
sbux

{'样本均值': 0.048053677932405676,
 '样本标准差': 2.6826218701322717,
 '样本偏度': -0.08252492337664698,
 '样本峰度': 8.774744049177345,
 '最小值': -28.2862,
 '最大值': 14.635399999999999}

## 1.1(b)

In [13]:
from math import log
r2 = q1[['axp','cat','sbux']].copy(deep=True)
r2 = r2.fillna(0)
r2['lnaxp'] = r2['axp'].apply(lambda x: log(1+x))
r2['lncat'] = r2['cat'].apply(lambda x: log(1+x))
r2['lnsbux'] = r2['sbux'].apply(lambda x: log(1+x))

In [14]:
r2[['lnaxp','lncat','lnsbux']]

         lnaxp     lncat    lnsbux
0    -0.009804  0.029453 -0.040915
1    -0.019274 -0.002642 -0.035423
2     0.042162  0.026111 -0.008449
3     0.011991  0.008981  0.003629
4     0.029940  0.041282  0.021506
...        ...       ...       ...
2510  0.000557  0.018786  0.016190
2511 -0.003345  0.019143  0.001070
2512 -0.011794 -0.008935 -0.034824
2513  0.016807  0.030700  0.035893
2514  0.030098  0.022869  0.010627

[2515 rows x 3 columns]

## 1.1(c)

In [15]:
r21 = r2[['lnaxp','lncat','lnsbux']].copy(deep=True)
nw = ['axp','cat','sbux']
r21.columns = nw
r21['sbux'] = r21['axp'].apply(f1)
r21['cat'] = r21['cat'].apply(f1)
r21['axp'] = r21['axp'].apply(f1)

In [16]:
r21.columns = ['lnaxp','lncat','lnsbux']
r21

         lnaxp     lncat    lnsbux
0     -0.9804%   2.9453%  -0.9804%
1     -1.9274%  -0.2642%  -1.9274%
2      4.2162%   2.6111%   4.2162%
3      1.1991%   0.8981%   1.1991%
4      2.9940%   4.1282%   2.9940%
...        ...       ...       ...
2510   0.0557%   1.8786%   0.0557%
2511  -0.3345%   1.9143%  -0.3345%
2512  -1.1794%  -0.8935%  -1.1794%
2513   1.6807%   3.0700%   1.6807%
2514   3.0098%   2.2869%   3.0098%

[2515 rows x 3 columns]

In [17]:
r22 = r2[['lnaxp','lncat','lnsbux']]*100

In [18]:
lnaxp = {'样本均值':r22['lnaxp'].mean(), '样本标准差':r22['lnaxp'].std(), '样本偏度':r22['lnaxp'].skew(), '样本峰度':r22['lnaxp'].kurt(), '最小值':r22['lnaxp'].min(), '最大值':r22['lnaxp'].max()}
lnaxp

{'样本均值': -0.015434208829411988,
 '样本标准差': 2.452898128895895,
 '样本偏度': -0.3368363856576607,
 '样本峰度': 6.509364819350642,
 '最小值': -19.35228577840872,
 '最大值': 16.48922110359184}

In [19]:
lncat = {'样本均值':r22['lncat'].mean(), '样本标准差':r22['lncat'].std(), '样本偏度':r22['lncat'].skew(), '样本峰度':r22['lncat'].kurt(), '最小值':r22['lncat'].min(), '最大值':r22['lncat'].max()}
lncat

{'样本均值': 0.035948763064403234,
 '样本标准差': 2.1714825779042166,
 '样本偏度': -0.20198544912375582,
 '样本峰度': 4.71261778019419,
 '最小值': -15.68585093574247,
 '最大值': 13.734946948373977}

In [20]:
lnsbux = {'样本均值':r22['lnsbux'].mean(), '样本标准差':r22['lnsbux'].std(), '样本偏度':r22['lnsbux'].skew(), '样本峰度':r22['lnsbux'].kurt(), '最小值':r22['lnsbux'].min(), '最大值':r22['lnsbux'].max()}
lnsbux

{'样本均值': 0.011885374689880114,
 '样本标准差': 2.69588776479366,
 '样本偏度': -0.5977808437045679,
 '样本峰度': 12.936209947029091,
 '最小值': -33.24869882829782,
 '最大值': 13.658647111616414}

## 1.1(d)

由于不知道真实方差，故对数收益率零均值检验，采用t检验

In [21]:
from scipy import stats

t1, pval1 = stats.ttest_1samp(r2['lnaxp'], 0)
t2, pval2 = stats.ttest_1samp(r2['lncat'], 0)
t3, pval3 = stats.ttest_1samp(r2['lnsbux'], 0)

In [22]:
pval1, pval2, pval3

(0.7523671583912231, 0.40648956069574815, 0.8250359651358329)

从pvalue看出，不能在5%的显著水平下拒绝原假设，即，他们都不显著不同于0

# 1.2

In [29]:
q2 = pd.read_csv('m-gm3dx7508.txt', sep='\s+')
q2 = q2.fillna(0)

In [24]:
q2

         date        gm        vw        ew        sp
0    19750131  0.252033  0.141600  0.299260  0.122812
1    19750228  0.028571  0.058411  0.053918  0.059886
2    19750331  0.054487  0.030191  0.081497  0.021694
3    19750430  0.045593  0.046497  0.031093  0.047265
4    19750530  0.037209  0.055140  0.072876  0.044101
..        ...       ...       ...       ...       ...
403  20080829 -0.096658  0.011042  0.014066  0.012191
404  20080930 -0.055000 -0.098060 -0.120888 -0.090791
405  20081031 -0.387302 -0.184726 -0.206004 -0.169425
406  20081128 -0.094991 -0.085206 -0.136597 -0.074849
407  20081231 -0.389313  0.021482  0.043083  0.007822

[408 rows x 5 columns]

## 1.2(a)

In [25]:
r = q2[['gm','vw','ew','sp']].copy(deep=True)
name = r.columns
for i in range(4):
    r.loc[:,name[i]] = r.loc[:,name[i]].apply(lambda x:'%.4f%%' % (x*100))

In [26]:
r

            gm         vw         ew         sp
0     25.2033%   14.1600%   29.9260%   12.2812%
1      2.8571%    5.8411%    5.3918%    5.9886%
2      5.4487%    3.0191%    8.1497%    2.1694%
3      4.5593%    4.6497%    3.1093%    4.7265%
4      3.7209%    5.5140%    7.2876%    4.4101%
..         ...        ...        ...        ...
403   -9.6658%    1.1042%    1.4066%    1.2191%
404   -5.5000%   -9.8060%  -12.0888%   -9.0791%
405  -38.7302%  -18.4726%  -20.6004%  -16.9425%
406   -9.4991%   -8.5206%  -13.6597%   -7.4849%
407  -38.9313%    2.1482%    4.3083%    0.7822%

[408 rows x 4 columns]

In [27]:
r2 = q2[['gm','vw','ew','sp']]*100
des = []
for i  in range(4):
    des.append({'样本均值':r2.loc[:,name[i]].mean(), '样本标准差':r2.loc[:,name[i]].std(), '样本偏度':r2.loc[:,name[i]].skew(), '样本峰度':r2.loc[:,name[i]].kurt(), '最小值':r2.loc[:,name[i]].min(), '最大值':r2.loc[:,name[i]].max()})
    print(des[i])

{'样本均值': 0.5567549019607844, '样本标准差': 9.272703947098766, '样本偏度': -0.38631072352983586, '样本峰度': 2.1133935004080677, '最小值': -38.9313, '最大值': 27.6619}
{'样本均值': 1.011798529411764, '样本标准差': 4.5074729643636875, '样本偏度': -0.7481541415150277, '样本峰度': 2.742068087472767, '最小值': -22.5363, '最大值': 14.16}
{'样本均值': 1.3313845588235296, '样本标准差': 5.595898629916076, '样本偏度': -0.30234257471711845, '样本峰度': 4.438624919402937, '最小值': -27.2248, '最大值': 29.926}
{'样本均值': 0.7300843137254909, '样本标准差': 4.359929011830978, '样本偏度': -0.5747640468338485, '样本峰度': 2.33774267601335, '最小值': -21.763, '最大值': 13.1767}

## 1.2(b)

In [30]:
from math import log
r3 = q2[['gm','vw','ew','sp']].copy(deep=True)
for i in range (4):
    r3.loc[:,name[i]] = r3.loc[:,name[i]].apply(lambda x: log(1+x))

In [31]:
nw = ['lngm','lnvw','lnew','lnsp']
r3.columns = nw
r3

         lngm      lnvw      lnew      lnsp
0    0.224769  0.132431  0.261795  0.115836
1    0.028170  0.056769  0.052515  0.058161
2    0.053054  0.029744  0.078346  0.021462
3    0.044584  0.045448  0.030619  0.046182
4    0.036533  0.053673  0.070343  0.043156
..        ...       ...       ...       ...
403 -0.101654  0.010981  0.013968  0.012117
404 -0.056570 -0.103207 -0.128843 -0.095180
405 -0.489883 -0.204231 -0.230677 -0.185637
406 -0.099810 -0.089056 -0.146874 -0.077798
407 -0.493171  0.021255  0.042181  0.007792

[408 rows x 4 columns]

## 1.2(c)

In [32]:
r4 = r3.copy(deep=True)
for i in range(4):
    r4.loc[:,nw[i]] = r4.loc[:,nw[i]].apply(lambda x:'%.4f%%' % (x*100))

In [33]:
r4

          lngm       lnvw       lnew       lnsp
0     22.4769%   13.2431%   26.1795%   11.5836%
1      2.8170%    5.6769%    5.2515%    5.8161%
2      5.3054%    2.9744%    7.8346%    2.1462%
3      4.4584%    4.5448%    3.0619%    4.6182%
4      3.6533%    5.3673%    7.0343%    4.3156%
..         ...        ...        ...        ...
403  -10.1654%    1.0981%    1.3968%    1.2117%
404   -5.6570%  -10.3207%  -12.8843%   -9.5180%
405  -48.9883%  -20.4231%  -23.0677%  -18.5637%
406   -9.9810%   -8.9056%  -14.6874%   -7.7798%
407  -49.3171%    2.1255%    4.2181%    0.7792%

[408 rows x 4 columns]

In [34]:
r41 = r3*100
des = []
for i  in range(4):
    des.append({'样本均值':r41.loc[:,nw[i]].mean(), '样本标准差':r41.loc[:,nw[i]].std(), '样本偏度':r41.loc[:,nw[i]].skew(), '样本峰度':r41.loc[:,nw[i]].kurt(), '最小值':r41.loc[:,nw[i]].min(), '最大值':r41.loc[:,nw[i]].max()})
    print(des[i])

{'样本均值': 0.11018200035482038, '样本标准差': 9.59027584701518, '样本偏度': -1.031234359354504, '样本峰度': 4.120285105225188, '最小值': -49.317072602727066, '最大值': 24.421517701278727}
{'样本均值': 0.9045670044116281, '样本标准差': 4.560585387638611, '样本偏度': -1.0587730886217905, '样本峰度': 4.03563775468602, '最小值': -25.536074645306506, '最大值': 13.243078718048956}
{'样本均值': 1.1669969932068147, '样本标准差': 5.625981984646551, '样本偏度': -0.84231685600004, '样本峰度': 5.363174789472094, '最小值': -31.779494816368477, '最大值': 26.179487162491817}
{'样本均值': 0.6319372441070585, '样本标准差': 4.402206455131812, '样本偏度': -0.8611650320052364, '样本峰度': 3.422326784313982, '最小值': -24.54275045549447, '最大值': 12.378012820631694}

## 1.2(d)

In [35]:
from scipy import stats
r5 = r3.copy(deep=True)
t = []
pval = []
for i in range(4):
    ti, pvali = stats.ttest_1samp(r5.loc[:,nw[i]], 0)
    t.append(ti)
    pval.append(pvali)
pval

[0.8166041715432116,
 7.33172261828164e-05,
 3.4251134017079424e-05,
 0.0039391649818351525]

由此，对于VW的对数收益率不能在5%的显著性水平上拒绝原假设，因此VW的对数收益率不显著不为0；
其他3个都显著不为0

# 1.3

In [40]:
q3 = q2[['date','sp']].copy(deep=True)
from math import log
q3['sp'] = q3['sp'].apply(lambda x: log(1+x))
q3.columns = ['date','lnsp']
q3

         date      lnsp
0    19750131  0.115836
1    19750228  0.058161
2    19750331  0.021462
3    19750430  0.046182
4    19750530  0.043156
..        ...       ...
403  20080829  0.012117
404  20080930 -0.095180
405  20081031 -0.185637
406  20081128 -0.077798
407  20081231  0.007792

[408 rows x 2 columns]

## 1.3(a)

从数据集中可以看出，取的事每个月月底的数据，因此，一年取12组数据，年对数收益率即为月对数收益率求和

In [44]:
spy = []
lnsp = q3['lnsp']
for i in range(int(len(q3)/12)):
    for j in range(12):
        y = 0
        y = y + lnsp[i*12 + j]
    spy.append(y)

In [46]:
y.mean()

0.007791566754216272

## 1.3(b)

lnsp全部累加再求exp

In [49]:
from math import exp
value = exp(lnsp.sum())
value

13.1747742025844

# 1.4

In [51]:
q4 = q1['axp'].copy(deep=True)
q4

0      -0.009756
1      -0.019089
2       0.043063
3       0.012063
4       0.030393
          ...
2510    0.000557
2511   -0.003339
2512   -0.011725
2513    0.016949
2514    0.030556
Name: axp, Length: 2515, dtype: float64

## 1.4(a)
$$ t = \frac{\hat{S}}{(6/T)^{0.5}} $$

In [57]:
s = q4.skew()
T = len(q4)
t = s/((6/T)**0.5)
t = abs(t)
t

0.709356542648729

In [60]:
Z = stats.norm(loc=0, scale=1)
pval = Z.sf(t)+Z.cdf(-t)
pval

0.47810324845288266

5%水平不能拒绝原假设，因此偏度为零

## 1.4(b)
$$ t = \frac{\hat{K}-3}{(24/T)^{0.5}} $$

In [63]:
k = q4.kurt()
T = len(q4)
t = (k-3)/((24/T)**0.5)
t = abs(t)
t

31.42380176759098

In [64]:
Z = stats.norm(loc=0, scale=1)
pval = Z.sf(t)+Z.cdf(-t)
pval

9.572929638591413e-217

5%水平拒绝原假设，即超额峰度不为零显著

# 1.5

In [66]:
mca = pd.read_csv('d-caus.txt', sep='\s+')
meu = pd.read_csv('d-useu.txt', sep='\s+')
muk = pd.read_csv('d-usuk.txt', sep='\s+')
mjp = pd.read_csv('d-jpus.txt', sep='\s+')

注意到对于column汇率的名字，mca叫rate，meu叫Value，其余俩叫value

In [70]:
mca

      year  mon  day    rate
0     2000    1    4  1.4518
1     2000    1    5  1.4518
2     2000    1    6  1.4571
3     2000    1    7  1.4505
4     2000    1   10  1.4568
...    ...  ...  ...     ...
2318  2009    3   23  1.2322
2319  2009    3   24  1.2263
2320  2009    3   25  1.2245
2321  2009    3   26  1.2327
2322  2009    3   27  1.2392

[2323 rows x 4 columns]

In [71]:
meu

      Date  Mon  Day   Value
0     2000    1    4  1.0309
1     2000    1    5  1.0335
2     2000    1    6  1.0324
3     2000    1    7  1.0294
4     2000    1   10  1.0252
...    ...  ...  ...     ...
2318  2009    3   23  1.3569
2319  2009    3   24  1.3524
2320  2009    3   25  1.3539
2321  2009    3   26  1.3560
2322  2009    3   27  1.3306

[2323 rows x 4 columns]

In [72]:
muk

      date  mon  day   value
0     2000    1    4  1.6370
1     2000    1    5  1.6415
2     2000    1    6  1.6475
3     2000    1    7  1.6384
4     2000    1   10  1.6374
...    ...  ...  ...     ...
2318  2009    3   23  1.4496
2319  2009    3   24  1.4730
2320  2009    3   25  1.4585
2321  2009    3   26  1.4497
2322  2009    3   27  1.4325

[2323 rows x 4 columns]

In [73]:
mjp

      year  mon  day   value
0     2000    1    4  103.09
1     2000    1    5  103.77
2     2000    1    6  105.19
3     2000    1    7  105.17
4     2000    1   10  105.28
...    ...  ...  ...     ...
2318  2009    3   23   97.30
2319  2009    3   24   97.86
2320  2009    3   25   97.70
2321  2009    3   26   98.47
2322  2009    3   27   97.99

[2323 rows x 4 columns]

In [76]:
q5 = pd.DataFrame(zip(mca['rate'],meu['Value'],muk['value'],mjp['value']))
q5

           0       1       2       3
0     1.4518  1.0309  1.6370  103.09
1     1.4518  1.0335  1.6415  103.77
2     1.4571  1.0324  1.6475  105.19
3     1.4505  1.0294  1.6384  105.17
4     1.4568  1.0252  1.6374  105.28
...      ...     ...     ...     ...
2318  1.2322  1.3569  1.4496   97.30
2319  1.2263  1.3524  1.4730   97.86
2320  1.2245  1.3539  1.4585   97.70
2321  1.2327  1.3560  1.4497   98.47
2322  1.2392  1.3306  1.4325   97.99

[2323 rows x 4 columns]

## 1.5(a)
先计算收益率，即下一天除以上一天(最后去掉第一行)

In [82]:
r = q5.copy(deep=True)
name = r.columns
for i in range(1,len(r)):
    for j in range(4):
        r.loc[i,name[j]] = r.loc[i,name[j]]/r.loc[i-1,name[j]]
r.drop(index=0)

             0         1         2           3
1     1.000000  1.002522  1.002749    1.006596
2     1.457100  1.029803  1.642984  104.500695
3     0.995470  0.999609  0.997210    1.006405
4     1.463429  1.025601  1.641981  104.609995
5     0.995607  1.006434  1.003666    1.014148
...        ...       ...       ...         ...
2318  1.455357  1.186652  1.470474   76.066231
2319  0.842611  1.139677  1.001718    1.286510
2320  1.453221  1.187968  1.455999   75.941864
2321  0.848253  1.141445  0.995674    1.296650
2322  1.460884  1.165715  1.438724   75.571679

[2322 rows x 4 columns]

In [83]:
for i in range (4):
    r.loc[:,name[i]] = r.loc[:,name[i]].apply(lambda x: log(1+x))

In [84]:
r

             0         1         2         3
0     0.896822  0.708479  0.969642  4.645256
1     0.693147  0.694407  0.694521  0.696440
2     0.898982  0.707939  0.971908  4.658718
3     0.690880  0.692952  0.691751  0.696344
4     0.901554  0.705867  0.971529  4.659753
...        ...       ...       ...       ...
2318  0.898272  0.782372  0.904410  4.344665
2319  0.611184  0.760655  0.694006  0.827027
2320  0.897402  0.782973  0.898533  4.343050
2321  0.614241  0.761481  0.690982  0.831451
2322  0.900521  0.772751  0.891475  4.338227

[2323 rows x 4 columns]

## 1.5(b)

In [85]:
des = []
for i  in range(4):
    des.append({'样本均值':r.loc[:,name[i]].mean(), '样本标准差':r.loc[:,name[i]].std(), '样本偏度':r.loc[:,name[i]].skew(), '样本峰度':r.loc[:,name[i]].kurt(), '最小值':r.loc[:,name[i]].min(), '最大值':r.loc[:,name[i]].max()})
    print(des[i])

{'样本均值': 0.7644070361272547, '样本标准差': 0.10417276036834462, '样本偏度': -0.03919211304317058, '样本峰度': -1.3598400135133375, '最小值': 0.585564541687324, '最大值': 0.9326300144237125}
{'样本均值': 0.7304426858483009, '样本标准差': 0.05467682190524505, '样本偏度': -0.19039941981796077, '样本峰度': -0.857550099293475, '最小值': 0.5970612898981646, '最大值': 0.852113989909067}
{'样本均值': 0.8461656740812744, '样本标准差': 0.17809108728832873, '样本偏度': 0.11482079113768391, '样本峰度': -1.7935527226215073, '最小值': 0.6208902927718457, '最大值': 1.1064838538468549}
{'样本均值': 2.6804246101451743, '样本标准差': 1.9077728739997601, '样本偏度': 0.0008251301400707227, '样本峰度': -1.9985503396191868, '最小值': 0.6825254956062122, '最大值': 4.715116295276692}

结束